.footer {
    margin-top: 5vh;
    padding-top: 5vh;
    height: 80%;
    background-color: black;
    color: white;
}

.footer .col-sm {
    margin-left: 5vw;
}

.footer .contact ul li, .footer .about ul li {
    list-style: none;
    margin-left: -1.6vw;
}

.footer {
    height: 50vh;
    width: 100%;
}

.footer .contact ul li a {
    text-decoration: none;
    color: white;
}

.footer .review .review-mail, .footer .review .review-text {
    margin-left: 0.5vw;
    padding-left: 1vw;;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 2vh;
}